@import ("../../libs/template/reset.css")
@import ("../../libs/template/lib")

.content
	width: 1280px
	background-color: wheat
	height: 7000px
	margin: 0 auto
	padding: 64px
	box-sizing: border-box

.cols
	clear: fix

.left
	float: left
.right
	float: right

.item
	size: 320px
	background-color: gray
	text-align: center
	p
		line-height: 320px
		font-weight: bold
		color: wheat