doctype html
html
	head(lang="ru")
		title Template
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name='viewport', content='width=device-width; initial-scale=0.85; maximum-scale=0.85; user-scalable=0;')
		meta(name='format-detection', content='telephone=no')
		link(rel="stylesheet", href="css/index.css")
	body
		script(type="text/javascript" src='js/scripts.js')
